<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125600591010-bdqijld4nm2tv96br7vi3jtk6f1djehb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125600591010-bdqijld4nm2tv96br7vi3jtk6f1djehb</string>
	<key>API_KEY</key>
	<string>AIzaSyBuHe-Cq_fE67KgFxfK1U_MAo1bKe2qHiw</string>
	<key>GCM_SENDER_ID</key>
	<string>125600591010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PeterEmel.Twitter</string>
	<key>PROJECT_ID</key>
	<string>twitter-78d49</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-78d49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125600591010:ios:7b6864220fb5d88371fbfb</string>
</dict>
</plist>